<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pagename%}{% endblock pagename%}</title>
</head>

<body>
    <div style="width:100%">

        <div style="background-color:#b5dcb3; width:100%">
            <h1>{% block title%}{% endblock title%}</h1>
        </div>

        <div style="background-color:#aaa; height:200px; width:100px; float:left;">
            <div><b>Main Menu</b></div>
            HTML<br />
            PHP<br />
            PERL...
        </div>

        <div style="background-color:#eee; height:200px; width:350px; float:left;">
            <p>{% block content%}{% endblock content%}</p>
        </div>


        <div style="background-color:#b5dcb3; clear:both">
            <center>
                Copyright © 2007 Tutorialspoint.com
            </center>
        </div>

    </div>
</body>

</html>